/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Manual Codes */

/* Universal Styles */
html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    box-sizing: border-box;
    scroll-padding-top: 69px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    background-color: black;
}

header img {
    display: inline-flex;
    height: 50px;
    margin-left: 10px;
}

nav ul li {
    display: inline-flex;
    text-decoration: underline;
    margin: 10px 10px;
}

nav ul li a {
    color: seashell;
}

/* Top Banner */
.banner-1 {
    height: 700px;
    max-width: 1200px;
    background-image: url("../images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 69px;
}

.banner-1 article {
    width: 100%;
    height: 16%;
    background-color: black;
}

.banner-1 article h2 {
    padding-top: 1%;
    padding-bottom: 2.5%;
}

/* Middle Banner */
.banner-2 {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    margin-top: 2.5%;
}

.banner-2 article h4 {
    margin-top: 2.5%;
    margin-bottom: 2%;
}

.banner-2 figure {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container img {
    width: 300px;
    height: 200px;
    margin: 10px 10px;
}

.container figcaption {
    margin-bottom: 12px;
}

/* Bottom Banner */
.banner-3 article {
    height: 500px;
    width: 1200px;
    background-image: url("../images/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-3 .boxes {
    display: flex;
}

.banner-3 .address {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: black;
    opacity: 1;
    margin: 20px;

}

.address h3, p {
    margin: 25px auto;
}
