/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
}

/* Header */
header {
    height: 4.54em;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

header a img {
    height: 2.18em;
    margin-top: 0.45em;
}

nav ul li {
    display: inline-flex;
    text-decoration: underline;
    padding: 0.13em 0.25rem 0 0.25rem;
}

nav ul li a {
    color: seashell;
}

/* Header for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {
    header {
        height: 3.13em;
        justify-content: space-between;
        flex-direction: row;
    }
    
    
    header a img {
        height: 2.72em;
        margin: 0.22em 0 0 0.22em;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav ul li {
        padding: 0;
        margin: 0 0.68em 0 0.68em;
    }
}

/* Header for Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    header {
        height: 5em;
    }

    header a img {
        height: 2.5em;
        padding-right: 0.45em;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.25em 0.45em 0 0.45em;
    }

    nav ul li {
        padding: 0;
        flex-grow: 1;
        justify-content: center;
    }
}

/* Header for Landscape Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    header {
        height: 3.13em;
        justify-content: space-between;
        flex-direction: row;
    }
    
    header a img {
        height: 2.75em;
        margin: 0.22em 0 0 0.22em;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        margin: 0 0.45em 0 0.45em;
    }

    nav ul li {
        padding: 0;
        margin: 0 0.68em 0 0.68em;
        font-size: 1.25rem;
    }
}

/* Header for Desktop Screens */
@media only screen and (min-width: 900px) {
    header {
        height: 3.13em;
        justify-content: space-between;
    }
    
    header a img {
        height: 2.27em;
        margin: 0.30em 0 0 0.45em;
    }
    
    nav ul li {
        padding: 0;
        margin: 0.45em 0.45em;
        font-size: 1em;
    }
}

/* Top Banner */
.banner-1 {
    height: 400px;
    max-width: 450px;
    background-image: url("../images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 48%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.banner-1 article {
    height: 20%;
    background-color: black;
}

.banner-1 article h2 {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.2em;
}

.banner-1 article h4 {
    font-size: 15px;
}

/* Top Banner for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {
    .banner-1 {
        max-width: 700px;
    }

    .banner-1 article {
        height: 22%;
    }

    .banner-1 article h2 {
        padding-bottom: 0.5%;
    }

    .banner-1 article h4 {
        font-size: 16px;
        line-height: 1.2em;
    }
}

/* Top Banner for Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .banner-1 {
        height: 500px;
        max-width: 700px;
    }
    
    .banner-1 article {
        height: 17%;
        padding: 0 30px 0 30px;
    }
    
    .banner-1 article h2 {
        padding-bottom: 0.5%;
    }
    
    .banner-1 article h4 {
        line-height: 1.3em;
    }
}

/* Top Banner for Landscape Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
    .banner-1 {
        height: 600px;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
    }
    
    .banner-1 article {
        height: 17%;
        width: 100%;
        padding: 0 30px 0 30px;
    }
    
    .banner-1 article h2 {
        padding-top: 1%;
        padding-bottom: 0.75%;
        font-size: 28px;
    }
    
    .banner-1 article h4 {
        font-size: 19px;
        line-height: 1.3em;
    }
}

/* Top Banner for Desktop Screens */
@media only screen and (min-width: 900px) {

}